/* line 5, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts2/icomoon.eot?fcckdv");
  src: url("../fonts2/icomoon.eot?fcckdv#iefix") format("embedded-opentype"), url("../fonts2/icomoon.ttf?fcckdv") format("truetype"), url("../fonts2/icomoon.woff?fcckdv") format("woff"), url("../fonts2/icomoon.svg?fcckdv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 9, ../sass/icon_introduction.scss */
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 24, ../sass/icon_introduction.scss */
.icon-books:before {
  content: "\e920";
}

/* line 28, ../sass/icon_introduction.scss */
.icon-spinner8:before {
  content: "\e981";
}

/* line 32, ../sass/icon_introduction.scss */
.icon-wrench:before {
  content: "\e991";
}

/* line 5, ../sass/introduction.scss */
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3e3e3e;
  background-color: #fff;
  width: 100%;
}
/* line 13, ../sass/introduction.scss */
body p {
  line-height: 1.4em;
}
/* line 16, ../sass/introduction.scss */
body header {
  background-color: #0ac285;
  display: block;
  overflow: hidden;
}
/* line 20, ../sass/introduction.scss */
body header h1 {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
  padding: 0 1em;
  text-transform: uppercase;
}
/* line 27, ../sass/introduction.scss */
body header h1 a {
  color: white;
  text-decoration: none;
}
/* line 33, ../sass/introduction.scss */
body header ul li {
  float: left;
}
/* line 35, ../sass/introduction.scss */
body header ul li a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
}

/* line 46, ../sass/introduction.scss */
.hero {
  width: 100%;
  min-height: 35em;
  position: relative;
  background-color: #333333;
  z-index: 1;
}
/* line 52, ../sass/introduction.scss */
.hero h2 {
  font-weight: bold;
  font-size: 3em;
  padding: 3em 0 1em 0;
  text-transform: uppercase;
  color: white;
}
/* line 59, ../sass/introduction.scss */
.hero p {
  max-width: 70%;
  color: #eee;
  margin: 0 auto;
  padding: 1em 0 8em 0;
}
/* line 64, ../sass/introduction.scss */
.hero p span {
  color: #0ac285;
}
/* line 68, ../sass/introduction.scss */
.hero:after {
  background: url("/images/hero-1-resized.jpg");
  background-size: 100%;
  position: absolute;
  content: "";
  z-index: -1;
  opacity: .3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 82, ../sass/introduction.scss */
.topics {
  padding: 2em 0 4em 0;
  overflow: hidden;
}
/* line 85, ../sass/introduction.scss */
.topics h3 {
  font-size: 2em;
  text-transform: uppercase;
  color: #0ac285;
  padding: 2em 0;
}
/* line 90, ../sass/introduction.scss */
.topics h3:after {
  content: "";
  display: block;
  background-color: #cccccc;
  width: 2em;
  height: .2em;
  margin: .4em auto;
}
/* line 99, ../sass/introduction.scss */
.topics ul {
  list-style: none;
}
/* line 102, ../sass/introduction.scss */
.topics li {
  float: left;
  width: 33.33%;
}
/* line 105, ../sass/introduction.scss */
.topics li i {
  font-size: 3em;
}
/* line 108, ../sass/introduction.scss */
.topics li h4 {
  padding: 1em 0;
  font-weight: bold;
}
/* line 112, ../sass/introduction.scss */
.topics li p {
  color: #6e6e6e;
  padding: 0 8em;
  margin-bottom: 4em;
}

@media only screen and (max-width: 1023px) and (min-width: 321px) {
  /* line 122, ../sass/introduction.scss */
  .topics li {
    width: 100%;
  }
}
/* line 128, ../sass/introduction.scss */
.container {
  max-width: 120em;
  margin: 0 auto;
}
